.right_col { height : 95vh; }
.main_menu_side {  padding: 70px 0 0 0; }
.center_bold { text-align: center; font-weight: bold }
textarea.description { height : 100px; }
.paging_full_numbers a.current {
    background-color: #ffffff !important;
}