/*
Template:   Meilleur
Author:     EGrappler.com
Framework:  Bootstrap 3.0
*/



.row-merge {
  width: 100%;
  *zoom: 1;
}
.row-merge:before,
.row-merge:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-merge:after {
  clear: both;
}
.row-merge [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.06944444444444445%;
}
.row-merge [class*="span"]:first-child {
  margin-left: 0;
}
.row-merge .controls-row [class*="span"] + [class*="span"] {
  margin-left: 0%;
}
.row-merge .span12 {
  width: 99.99999999999999%;
  *width: 99.93055555555554%;
}
.row-merge .span11 {
  width: 91.66666666666666%;
  *width: 91.59722222222221%;
}
.row-merge .span10 {
  width: 83.33333333333331%;
  *width: 83.26388888888887%;
}
.row-merge .span9 {
  width: 74.99999999999999%;
  *width: 74.93055555555554%;
}
.row-merge .span8 {
  width: 66.66666666666666%;
  *width: 66.59722222222221%;
}
.row-merge .span7 {
  width: 58.33333333333333%;
  *width: 58.263888888888886%;
}
.row-merge .span6 {
  width: 49.99999999999999%;
  *width: 49.93055555555555%;
}
.row-merge .span5 {
  width: 41.66666666666666%;
  *width: 41.597222222222214%;
}
.row-merge .span4 {
  width: 33.33333333333333%;
  *width: 33.263888888888886%;
}
.row-merge .span3 {
  width: 24.999999999999996%;
  *width: 24.930555555555554%;
}
.row-merge .span2 {
  width: 16.666666666666664%;
  *width: 16.59722222222222%;
}
.row-merge .span1 {
  width: 8.333333333333332%;
  *width: 8.263888888888888%;
}
.row-merge .offset12 {
  margin-left: 99.99999999999999%;
  *margin-left: 99.8611111111111%;
}
.row-merge .offset12:first-child {
  margin-left: 99.99999999999999%;
  *margin-left: 99.8611111111111%;
}
.row-merge .offset11 {
  margin-left: 91.66666666666666%;
  *margin-left: 91.52777777777777%;
}
.row-merge .offset11:first-child {
  margin-left: 91.66666666666666%;
  *margin-left: 91.52777777777777%;
}
.row-merge .offset10 {
  margin-left: 83.33333333333331%;
  *margin-left: 83.19444444444443%;
}
.row-merge .offset10:first-child {
  margin-left: 83.33333333333331%;
  *margin-left: 83.19444444444443%;
}
.row-merge .offset9 {
  margin-left: 74.99999999999999%;
  *margin-left: 74.8611111111111%;
}
.row-merge .offset9:first-child {
  margin-left: 74.99999999999999%;
  *margin-left: 74.8611111111111%;
}
.row-merge .offset8 {
  margin-left: 66.66666666666666%;
  *margin-left: 66.52777777777777%;
}
.row-merge .offset8:first-child {
  margin-left: 66.66666666666666%;
  *margin-left: 66.52777777777777%;
}
.row-merge .offset7 {
  margin-left: 58.33333333333333%;
  *margin-left: 58.19444444444444%;
}
.row-merge .offset7:first-child {
  margin-left: 58.33333333333333%;
  *margin-left: 58.19444444444444%;
}
.row-merge .offset6 {
  margin-left: 49.99999999999999%;
  *margin-left: 49.86111111111111%;
}
.row-merge .offset6:first-child {
  margin-left: 49.99999999999999%;
  *margin-left: 49.86111111111111%;
}
.row-merge .offset5 {
  margin-left: 41.66666666666666%;
  *margin-left: 41.52777777777777%;
}
.row-merge .offset5:first-child {
  margin-left: 41.66666666666666%;
  *margin-left: 41.52777777777777%;
}
.row-merge .offset4 {
  margin-left: 33.33333333333333%;
  *margin-left: 33.19444444444444%;
}
.row-merge .offset4:first-child {
  margin-left: 33.33333333333333%;
  *margin-left: 33.19444444444444%;
}
.row-merge .offset3 {
  margin-left: 24.999999999999996%;
  *margin-left: 24.86111111111111%;
}
.row-merge .offset3:first-child {
  margin-left: 24.999999999999996%;
  *margin-left: 24.86111111111111%;
}
.row-merge .offset2 {
  margin-left: 16.666666666666664%;
  *margin-left: 16.52777777777778%;
}
.row-merge .offset2:first-child {
  margin-left: 16.666666666666664%;
  *margin-left: 16.52777777777778%;
}
.row-merge .offset1 {
  margin-left: 8.333333333333332%;
  *margin-left: 8.194444444444443%;
}
.row-merge .offset1:first-child {
  margin-left: 8.333333333333332%;
  *margin-left: 8.194444444444443%;
}
[class*="span"].hide,
.row-merge [class*="span"].hide {
  display: none;
}
[class*="span"].pull-right,
.row-merge [class*="span"].pull-right {
  float: right;
}
@media (max-width: 767px) {
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-merge [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-merge .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-merge [class*="offset"]:first-child {
    margin-left: 0;
  }
}
/*= TYPOGRAPHY
---------------------------------------------------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #666;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  color: #444;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.15;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 12px;
  margin: 0 0 0 5px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11px;
}
strong,
b {
  color: #555;
}
a {
  color: #0088cc;
}
a:hover,
a:focus {
  outline: none;
}
small,
.small {
  font-size: 13px;
}
ul,
menu,
dir {
  list-style-type: square;
}
form {
  margin: 0;
}
form fieldset {
  border: 1px solid #e5e6e7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 25px;
}
label {
  font-family: inherit;
  font-weight: inherit;
}
.lead {
  font-size: 15px;
  line-height: 24px;
}
.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gap-15 {
  height: 15px;
}
.gap-30 {
  height: 30px;
}
.gap-50 {
  height: 30px;
}
.gap-70 {
  height: 30px;
}
/*= FORM
---------------------------------------------------------------------------------------------- */
.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}
/*= BUTTONS
---------------------------------------------------------------------------------------------- */
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-width: 2px;
  font-family: 'Roboto', Arial, sans-serif;
  border-color: transparent;
}
.btn:hover {
  border-color: transparent;
}
.btn-outline {
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.4);
  background: none;
  color: #fff;
}
.btn-outline:hover,
.btn-outline.active {
  border-color: #fff;
  border-color: rgba(132,194,37, 0.8);
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-inverse {
  background: #1e1e1e;
  color: #fff;
}
.btn-inverse:hover {
  background: #2f2f2f;
  color: #fff;
}
/*= HEADER
---------------------------------------------------------------------------------------------- */
.header .navbar {
  background: #fff;
}
.header .navbar-nav > li > a {
  font-size: 14px;
  color: #555;
}
/*= SECTIONS
---------------------------------------------------------------------------------------------- */
.section {
  padding: 20px 0;
}
.section.type-1 {
  background: #2a333b;
  color: #a5b3bf;
}
.section.type-1 h1,
.section.type-1 h2,
.section.type-1 h3,
.section.type-1 h4,
.section.type-1 h5,
.section.type-1 h6,
.section.type-1 strong,
.section.type-1 b {
  color: #fff;
}
.section.type-1 h4 {
  color: #a5b3bf;
  border-color: #313b44;
}
.section.type-1 hr {
  border-color: #313b44;
}
.section.type-1 .form-control {
  background: #384048;
  border-color: transparent !important;
  color: #a5b3bf;
  -o-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  /* ...and now override with proper CSS property */

  transition: background-color 0.3s linear;
}
.section.type-1 .form-control:focus {
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.section.type-2 {
  background: #fff;
}
.section.type-3 {
  background: #f0f2f4;
}
.section.big {
  height: 100%;
}
.section.splash {
  background: url(../img/header/headerbg.jpg) fixed no-repeat;
  position: relative;
  z-index: 1;
}
.section.splash h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}
.section-headlines {
  margin-bottom: -20px;
}
.section-headlines > h2 {
  font-size: 32px;
}
.section-headlines > h4 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  border-bottom: 2px solid #ddd;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 35px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.section-headlines > div {
  line-height: 1.8;
}
/*= SPLASH
---------------------------------------------------------------------------------------------- */
.splash-cover {
  background: #363b48;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.splash-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.splash-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */

}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 100px 0;
}
/*= JUMPER
---------------------------------------------------------------------------------------------- */
.jumper {
  height: 0;
  position: relative;
  top: -50px;
}
/*= WORK
---------------------------------------------------------------------------------------------- */
.work-thumb {
  display: block;
}
.work-content {
  background: #fff;
  padding: 15px;
}
/*= SERVICES
---------------------------------------------------------------------------------------------- */
.gallery-control {
  margin: 0 0 30px;
}
#portfolio {
  font-size: 0;
  line-height: 0;
  text-align: justify;
  display: inline-block;
  width: 100%;
}
#portfolio .mix {
  opacity: 0;
  display: none;
  width: 20%;
  vertical-align: top;
  font-size: 14px;
}
#portfolio .mix > div .media-thumb {
  position: relative;
  overflow: hidden;
}
#portfolio .mix > div .media-thumb img {
  display: block;
  max-width: 100%;
}
#portfolio .mix > div .media-thumb:hover .media-desc {
  opacity: 1;
  filter: alpha(opacity=100);
}
#portfolio .mix > div .media-desc {
  opacity: 0;
  filter: alpha(opacity=0);
  background: #84c225  ;
  background: rgba(132,194,37, 0.8);
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 20px;
  -o-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  /* ...and now override with proper CSS property */

  transition: opacity .3s linear;
}
#portfolio .mix > div .media-desc > div {
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#portfolio .mix > div .media-desc b {
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
}
#portfolio .mix > div .media-detail {
  background: #f9f9f9;
  border-top: 1px solid #eee;
  padding: 10px;
  margin: 0 10px;
  line-height: 20px;
  display: none;
}
@media (max-width: 1020px) {
  #portfolio .mix {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #portfolio .mix {
    width: 33.333333%;
  }
}
@media (max-width: 767px) {
  #portfolio .mix {
    width: 100%;
  }
}
/*= FEATURES
---------------------------------------------------------------------------------------------- */
.features .media > i {
  font-size: 28px;
  line-height: 55px;
  margin-right: 25px;
  width: 60px;
  height: 60px;
  border: 3px solid #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.features .media + .media {
  margin-top: 0;
}
/*= PRICING PLANS
---------------------------------------------------------------------------------------------- */
.pricing-plans .plan-name h2 {
  background: #1e1e1e;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 25px;
  margin: 0;
  color: #fff;
}
.pricing-plans .plan-name p {
  background: #2f2f2f;
  color: #ddd;
  padding: 15px;
  margin: 0;
}
.pricing-plans .plan-featured .plan-name h2 {
  background: #47a447;
}
.pricing-plans .plan-featured .plan-name p {
  background: #5cb85c;
  color: #fff;
}
.pricing-plans .plan-price {
  background: #f5f5f5;
  padding: 25px;
}
.pricing-plans .plan-price > b {
  color: #444;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1px;
}
.pricing-plans .plan-details {
  padding: 0 15px;
  background: #f5f5f5;
}
.pricing-plans .plan-details > div {
  padding: 15px 0;
}
.pricing-plans .plan-details > div + div {
  border-top: 1px solid #eee;
}
.pricing-plans .plan-action {
  background: #f5f5f5;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 15px;
}
/*= SOCIAL LINKS
---------------------------------------------------------------------------------------------- */
.person .person-avatar {
  margin-right: 20px;
}

.avatar { width:100px;}
/*= SOCIAL LINKS
---------------------------------------------------------------------------------------------- */
.social-links {
  font-size: 30px;
}
.social-links.size-big {
  font-size: 40px;
}
.social-links a {
  color: #aaa;
  text-decoration: none !important;
}
.social-links a:hover {
  color: #84c225  ;
}
/*= BRANDS
---------------------------------------------------------------------------------------------- */
.brands .brand {
  border: 1px solid #eee;
  padding: 30px;
  text-align: center;
}
/*= FOOTER
---------------------------------------------------------------------------------------------- */
.footer {
  background: #242b32;
  color: #a5b3bf;
  font-size: 13px;
  padding: 20px 0;
}
.footer * {
  line-height: 20px;
}
.footer .link-social {
  color: inherit;
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-left: 15px;
  text-decoration: none !important;
  font-size: 18px;
}
.footer .link-social:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.section-contact .address-row {
  display: table;
  width: 100%;
}
.section-contact .address-sign {
  display: table-cell;
  width: 30px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.section-contact .address-info {
  display: table-cell;
}
/*= BOOTSTRAP OVERWRITE: ACCORDIANS
---------------------------------------------------------------------------------------------- */
.panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-group .panel + .panel {
  border-top: 1px solid #eee;
  margin-top: 0;
  padding-top: 10px;
}
.panel-group .panel-heading {
  padding: 0 0 10px;
}
.panel-group .panel-body {
  padding: 5px 0 15px;
  border-top: 0 !important;
}
.panel-title {
  font-size: 18px;
}
.panel-title a {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}
.panel-title a i {
  color: #bbb;
  font-size: 14px;
  height: 23px;
  line-height: 23px;
  float: left;
  margin-right: 10px;
  width: 20px;
  text-align: center;
}
.panel-title a .icon-minus {
  display: none;
}
.panel-title a.collapsed .icon-minus {
  display: block;
}
.panel-title a.collapsed .icon-plus {
  display: none;
}
/*= TESTIMONIAL
---------------------------------------------------------------------------------------------- */
#carousel-testimonial {
  margin-top: 50px;
}
.testimonial {
  background: #f9f9f9;
  padding: 40px;
}
.testimonial-avatar {
  padding-left: 30px;
}
.testimonial-avatar img {
  width: 100px;
  height: auto;
}
.testimonial-content .lead {
  border-left: 1px solid #ddd;
  padding-left: 30px;
  font-size: 18px;
  margin-top: 10px;
}
.carousel-controller {
  position: absolute;
  right: 15px;
  top: 15px;
}
.dis-table {
  display: table;
  width: 100%;
}
.dis-tablecell {
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 767px) {
  .section.splash h1 {
    font-size: 40px;
  }
  .person-avatar img {
    width: 80px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /*= RESPONSIVE RESET
  ---------------------------------------------------------------------------------------------- */
}
@media (max-width: 979px) {
  /*= RESPONSIVE RESET
  ---------------------------------------------------------------------------------------------- */
}
#success{
	width: 100%;
	padding: 10px;
	text-align: center;
	color: green;
	display:none;
}
#error{
	width: 100%;
	padding: 10px;
	text-align: center;
	color: red;
	display:none;
}

.right {
  text-align: right;
}